<!-- Menu Desplegable -->
<ion-router-outlet id="main"></ion-router-outlet>
<ion-menu side="start" menuId="menu1" contentId="main">
  <ion-header>
    <ion-toolbar>
      <ion-title class="titulo">Filtro</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list class="desplegable">
      <mat-form-field appearance="fill">
        <mat-label>Lugar de Salida</mat-label>
        <input [(ngModel)]="salida" matInput>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Asientos</mat-label>
        <input [(ngModel)]="asiento" matInput>
      </mat-form-field>
      <mat-form-field appearance="fill" class="hora">
        <mat-label>Hora de Salida</mat-label>
        <mat-select>
          <mat-option *ngFor="let hora of horas" [value]="hora.value">
            {{hora.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button class="bmenud" (click)="filtro()" mat-raised-button color="primary">Aplicar Filtros</button>
    </ion-list>
  </ion-content>
</ion-menu>
<!-- Fin Desplegable -->


<!-- Menu Toolbar -->
<ion-header>
  <ion-toolbar id="principal">
    <ion-menu-button slot="end">
      <mat-icon aria-hidden="false" aria-label="Example tune icon" fontIcon="tune"></mat-icon>
    </ion-menu-button>
    <ion-title class="titulo">Pasajero</ion-title>
    <ion-buttons id="volver" slot="start">
      <mat-icon style="margin-left: 5px;" [routerLink]="['/home']" fontIcon="undo"></mat-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<!-- Fin Toolbar -->


<!-- Contenido de la pagina -->
<ion-content>
  <div id="publicaciones">

    <div *ngFor="let viaje of viajes" class="post">
      <div id="info">
        <ul>
          <li>Nombre: {{viaje.nombre}} </li>
          <li>Desde: {{viaje.salida}}</li>
          <li>Hora: {{viaje.hora}}</li>
          <li>Asientos Disponibles: {{viaje.asiento}}</li>
          <li>Descripcion: {{viaje.descripcion}}</li>
        </ul>
        <div id="boton">
          <button mat-raised-button color="basic">Tomar Viaje</button>
        </div>
      </div>
    </div>
  </div>
</ion-content>
<!-- Fin de Contenido de la pagina -->
