<!-- Menu Toolbar -->
<ion-header>
  <ion-toolbar id="principal">

    <ion-title class="titulo">Pasajero</ion-title>

    <ion-buttons id="volver" slot="start">
      <mat-icon  [routerLink]="['/home']" fontIcon="arrow_back_ios"></mat-icon>
    </ion-buttons>

    <ion-buttons id="cerrar" slot="end">
      <mat-icon  [routerLink]="['/home']" fontIcon="exit_to_app"></mat-icon>
    </ion-buttons>

  </ion-toolbar>
</ion-header>
<!-- Fin Toolbar -->


<!-- Contenido de la pagina -->
<ion-content>
  <div id="publicaciones">

    <div  id="buscar">
      <h1>Buscar</h1>
      <mat-form-field appearance="fill">
        <mat-label>Desde o Hacia</mat-label>
        <input [(ngModel)]="salida" matInput>
      </mat-form-field>
    </div>

    <div *ngFor="let viaje of viajes | filtro: salida" class="post">
      <div id="info">
        <ul>
          <li>Nombre: {{viaje.nombre}} </li>
          <li>Desde: {{viaje.desde}}</li>
          <li>Hacia: {{viaje.hacia}}</li>
          <li>Hora: {{viaje.hora}}</li>
          <li>Asientos Disponibles: {{viaje.asiento}}</li>
          <li>Descripcion: {{viaje.descripcion}}</li>
        </ul>
        <div id="boton">
          <button mat-raised-button color="basic" (click)="tomar()">Tomar Viaje</button>
        </div>
      </div>
    </div>
  </div>
</ion-content>
<!-- Fin de Contenido de la pagina -->