*{
    padding: 0;
    margin: 0;
}
ion-content{
    --background: #161616;

}
#barra{
    width: 100%;
    background-color: #C2185B;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 15px;
}
#publicaciones{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 1px green solid;
}
.post{

    width: 90%;
    background-color: #C2185B;
    border: 7px black solid;
    border-radius: 15px;
    margin: 15px;
    padding: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px green solid;
    
}
.post ul{
    list-style: none;
    padding-left: 10px;
    border: 1px rgb(0, 204, 255) solid;
}
#boton{
    display: flex;
    justify-content: center;
    align-items: center;
}
#boton button{
    margin-top: 5px;
    width: 80%;
    border: 1px rgb(255, 238, 0) solid;
}
#info{
    width: 100%;
    border: 1px rgb(255, 255, 255) solid;
}
.titulo{
    text-align: center;
}
#principal{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
ion-toolbar{
    --background: #C2185B;
}
#volver{
    margin-left: 15px;
    cursor: pointer;
}
.salida .asiento{
    width: 100%;

}
.desplegable{
    margin: 10% 10% 10% 10%;
    background: #161616;
}
.bmenud{
    padding: 10px;
}