*{
    margin: 0;
    padding: 0;
  }
  

  
  ion-toolbar{
    --background: #C2185B;
  }
  
  ion-content{
    --background: #161616;
  }
  
  #contenedor{
    margin: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: black;
    border-radius: 8px;
    border: 5px #C2185B solid;  
    height: 95%;
  }
  


  ion-title{
    text-align: center;
    color: white;
  }
  mat-form-field{
    --background: black;
  }
  #volver{
    margin-left: 15px;
  }
  #formulario{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .campos{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .camp{
    width: 80%;
  }
  #boton{
    --background:#C2185B;
  }