<!-- Menu desplegable -->
<ion-router-outlet id="main"></ion-router-outlet>
<ion-menu side="start" menuId="menu1" contentId="main">
  <ion-header>
    <ion-toolbar>
      <ion-title class="titulo">Opciones</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>

    <ion-list>
      <ion-item [routerLink]="['/correo']">
        <ion-icon class="opc" name="mail-outline" slot="start"></ion-icon>
        <ion-label>Mensajes</ion-label>
      </ion-item>

      <ion-item [routerLink]="['/soporte']">
        <ion-icon class="opc" name="hammer-outline" slot="start"></ion-icon>
        <ion-label>Soporte</ion-label>
      </ion-item>

      <ion-item [routerLink]="['/configuracion']">
        <ion-icon class="opc" name="settings-outline" slot="start"></ion-icon>
        <ion-label>Configuración</ion-label>
      </ion-item>

    </ion-list>
  </ion-content>

</ion-menu>

<!-- Fin Desplegable -->


<!-- Menu Toolbar -->
<ion-header>
  <ion-toolbar id="principal">

    <ion-menu-button slot="end">
      <mat-icon aria-hidden="false" aria-label="Example tune icon" fontIcon="tune"></mat-icon>
    </ion-menu-button>

    <ion-title class="titulo">Chofer</ion-title>

    <ion-buttons id="volver" slot="start">
      <mat-icon [routerLink]="['/home']" fontIcon="undo"></mat-icon>
    </ion-buttons>

  </ion-toolbar>
</ion-header>
<!-- Fin Toolbar -->


<!-- Contenido de la pagina -->
<ion-content>



  <div id="contenedor">

    


    <div id="formulario">
      <h2 class="tituloform">Crear ruta</h2>
      <div class="campos">
        <mat-form-field appearance="fill" class="camp">
          <mat-label>Nombre</mat-label>
          <input [(ngModel)]="nombre" matInput>
        </mat-form-field>
      </div>
      <div class="campos">
        <mat-form-field appearance="fill" class="camp">
          <mat-label>Desde</mat-label>
          <input [(ngModel)]="desde" matInput>
        </mat-form-field>
      </div>
      <div class="campos">
        <mat-form-field appearance="fill" class="camp">
          <mat-label>Hacia</mat-label>
          <input [(ngModel)]="hacia" matInput>
        </mat-form-field>
      </div>
      <div class="campos">
        <mat-form-field appearance="fill" class="camp">
          <mat-label>Hora de Salida</mat-label>
          <mat-select [(ngModel)]="hora">
            <mat-option *ngFor="let hora of horas" [value]="hora.value">
              {{hora.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>

      </div>
      <div class="campos">
        <mat-form-field appearance="fill" class="camp">
          <mat-label>Asientos</mat-label>
          <input [(ngModel)]="asiento" matInput>
        </mat-form-field>
      </div>
      <div class="campos">
        <mat-form-field appearance="fill" class="camp">
          <mat-label>Descripcion</mat-label>
          <input [(ngModel)]="descripcion" matInput>
        </mat-form-field>
      </div>

      <ion-button id="boton" (click)="crearRuta()" > Crear ruta </ion-button>
    </div>
  </div>


</ion-content>
<!-- Fin de Contenido de la pagina -->